<div class="pageTotal">
  <div class="div1">
    <h4>WELCOME</h4>
  </div>
  <div class="btnRow">
    <button mat-button color="primary" class="btnClass" (click)="onAboutClick()">About</button>
    <button mat-button color="primary" class="btnClass" (click)="onWorkClick()">Work Experience</button>
    <button mat-button color="primary" class="btnClass" (click)="onAddressClick()">Address</button>
    <button mat-button color="primary" class="btnClass" (click)="onContactClick()">Contact Me</button>
  </div>
</div>
<div class="container2">
  <div class="description">
    <h1>I'm Sarath, an front end developer. </h1>
    <h4>I have an experience of ...... as an ....... Please go through the .....</h4>
  </div>
  <div class="div2">
    <!-- <div class="btnRow">
    <button mat-button color="primary" class="btnClass" (click)="onAboutClick()">About</button>
    <button mat-button color="primary" class="btnClass" (click)="onWorkClick()">Work Experience</button>
    <button mat-button color="primary" class="btnClass" (click)="onAddressClick()">Address</button>
    <button mat-button color="primary" class="btnClass" (click)="onContactClick()">Contact Me</button>
  </div> -->
    <div>
      <img src='/assets/images/profImg.JPG' height="600" width="520" hidden="true">
    </div>
  </div>
</div>

<div></div>


<div style="height: 500px"></div>
<div id="about" class="pageChangeClass" style="height: 500px;">
  <h2>About</h2>
</div>
<div id="work" class="pageChangeClass" style="height: 500px;">
  <h2>Work and Experience</h2>
</div>
<div id="address" class="pageChangeClass" style="height: 500px;">
  <h2>Address</h2>
</div>
<div id="contact" class="pageChangeClass" style="height: 500px;">
  <h2>Contact</h2>
</div>
<router-outlet></router-outlet>